$lightDark: rgb(172, 168, 168);
$black: rgb(55, 47, 47);
$blue: rgb(226, 239, 241);
*{
    margin: 0;
    padding: 0;
}
body{
    font-family: Arial, Helvetica, sans-serif;
}
header{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    gap: 10px;
    padding: 10px 10px;
}
header{
    a{
        color: $black;
        text-decoration: none;
    }
    a:hover{
        text-decoration: underline;
    }
}
#menu{
    height: 20px;
    width: 20px;
}
.box{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 40px;
    border-radius: 50%;
}
.box:hover{
    cursor: pointer;
    background-color: $lightDark;
}
#logo{
    height: 35px;
    width: 35px;
    border-radius: 50%;
}
main{
    width: 100vw;
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
main{
    div{
        img{
            height: 6rem;
            width:17rem;
        }
    }
}
#form{
    height: 30vh;
    width: 100%;
    margin-top: 1.5rem;
    form{
        height: 100%;
        width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
}
.searchBar{  
    display: inline-flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 100%;
    img{
        height: 20px;
        width: 20px;
        position: absolute;
        left: 29%;
        &:nth-child(3){
            height: 30px;
            width: 30px;
            left: 69%;
        }
        &:nth-child(2){
            height: 25px;
            width: 25px;
            left: 66%;
        }
    }
    input[type="text"]{
        padding: 1rem 3rem;
        padding-right: 6rem;
        border-radius: 2rem;
        width: 45%;
        color: $black;
        border: 1px solid $lightDark;
        display: inline;
        box-sizing: border-box;
    }
    input[type="text"]:hover{
        box-shadow: 2px 2px 10px $lightDark;
    }
    input[type="text"]:focus{
        outline: none;
        box-shadow: 2px 2px 10px $lightDark;
    }
}
.submit {
        input[type="submit"]{
            background-color: $blue;
            color: $black;
            padding: 0.7rem 2rem;
            margin: 2rem 0.5rem;
            border: none;
            box-sizing: border-box;
            border-radius: 4px;
            box-sizing: border-box;
        }
        input[type="submit"]:hover{
            cursor: pointer;
            border: 1px solid $lightDark;
        }
}
